#filter{
    margin-top: 10px;
    height: 40px;
    line-height: 25px;
    width: 100%;
    text-indent: 10px;
}

.listCompField{
    width: 500px;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(247, 216, 204);
    
}
.listCompField li{
    list-style-type: none;
    padding: 5%;
    color: rgb(9, 83, 46);
    clear: both;
   
}
.listCompField span{
    display: block;
    padding: 3px;
   

}

.listCompField span.name{
    float: left;
}
.listCompField span.phone{
    float: right;
}